<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #f8b3b3;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f8b3b3;
}
</style>

      
</head> 
<body>
    <div class="container my-5">
        <h1> Create/Edit Data </h1>
        <form action="" method="post">
            <label for="exampleFormControlInput1" class="form-label">nama</label>
            <input class="form-control" name="nama" type="text" required>
            <br>
            <br>
            <label for="exampleFormControlInput1" class="form-label">alamat rumah</label>
            <input class="form-control" name="detail" type="text" required>
            <br>
            <br>
            <label for="exampleFormControlInput1" class="form-label">delegasi pondok</label>
            <input class="form-control" name="nama" type="text" required>
            <br>
            <br>
            <label for="exampleFormControlInput1" class="form-label">nomor tlpn</label>
            <input class="form-control" name="nama" type="text" required>
            <br>
            <button type="submit">kirim</button>
    
        </form> 
        <hr>
        <h1>Santri Qoryatussalam</h1>
        <br>
        <table>
            <tr>
                <th>id</th>
                <th>nama</th>
                <th>alamat rumah</th>
                <th>delegasi pondok</th>
                <th>nomor tlpn</th>
                <th>actions</th>
            </tr>
            {% for d in context %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{d[1]}}</td>
                <td>{{d[2]}}</td>
                <td>{{d[3]}}</td>
                <td>{{d[4]}}</td>
                <td>
                    <a href="/edit/{{d[0]}}">
                        <button class="btn btn-info">edit</button>
                    </a>
                    <a href="/hapus/{{d[0]}}">
                        <button class="btn btn-warning">hapus</button>
                    </a>
                <td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
<html>